@import "../../variables";

.header {
  padding-top: 50px;
  margin-bottom: 20px;

  &__cta {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  &__form {
    display: flex;
    justify-content: center;
    width: 40%;

    &-input {
      padding: 5px 10px 5px 10px;
      border: 1px solid $btn_color;
      border-radius: 5px;
      outline-color: $btn_color;
      width: 100%;
    }

    &-btn {
      width: 30%;
      margin-left: 15px;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.hero {
  padding-top: 20px;
}


